# Compiled Object files
*.slo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Static libraries
*.lib

# Executables
*.out

#VisualStudio Files
*.sdf
*.opensdf
*.suo
*.VC.db
ipch/
[Bb]uild/
obj/

#temp
*.bak
*.tmp
*.old